.PH {
  background-color: lightgray
}

.p1 {
  background-color: rgb(53, 122, 175);
}

.p2 {
  background-color: rgb(54, 134, 185);        
}

.p3 {
  background-color: #3293c3;        
}

.p4 {
  background-color: #469fcb;        
}

.p5 {
  background-color: #5fadd2;        
}

.p6 {
  background-color: #75bada;        
}

.p7 {
  background-color: #8dc4df;        
}

.p {
  background-color: #23ab7e;    
}

.p9 {
  background-color: #e7abc1;        
}

.p10 {
  background-color: #e799b5;        
}
.p11 {
  background-color: #e587a7;
}

.p12 {
  background-color: #e2749a;    
}

.p13 {
  background-color: #e0658a;      
}

.p14 {
  background-color: #db5580;    
}

.p15 {
  background-color: #da3d75;        
}
