/*klase selektori, može biti više istih klasa*/
.treci{
    color: aqua;
}
/*element selector*/
h2, p{
    color: crimson;
}

#naslov {
    color: violet;
}
*{
    background-color: burlywood;
}
p[draggable="true"]{
    background-color: blanchedalmond         ;
}